#custom-nav-brand {
  justify-content: center;
}
#custom-brand-col {
  z-index: 5;
}

#custom-nav-container {
  justify-content: center;
}

#nav-link-col {
  width: 97vw;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  #nav-link-col {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #custom-nav-dropdown {
    /* border: 2px solid red; */
    /* justify-self: left; */
    text-align: left !important;
    position: absolute !important;
    /* top: 0px; */
    left: 35px;
  }
}
